<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
	<connectionStrings>
		<add name="CNNSTR" connectionString="Server=.\MSSQLSERVER01;DataBase=P5_2023_1; INTEGRATED SECURITY=FALSE;User Id=progra5;Password=123456"  />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>